[submodule "skin.estuary.nexus.kevwag.mod"]
	branch = master
[submodule "plugin.video.ted.talks"]
	branch = master
[submodule "repo/plugin.video.ted.talks"]
	path = repo/plugin.video.ted.talks
	url = https://github.com/Kevwag-Kodi-Addons/plugin.video.ted.talks
	branch = feature/matrix
[submodule "repo/skin.estuary.nexus.kevwag.mod"]
	path = repo/skin.estuary.nexus.kevwag.mod
	url = https://github.com/Kevwag-Kodi-Addons/skin.estuary.nexus.kevwag.mod
	branch = master
[submodule "repo/plugin.video.realizer"]
	path = repo/plugin.video.realizer
	url = https://github.com/Kevwag-Kodi-Addons/plugin.video.realizer
[submodule "repo/script.hideosd"]
	path = repo/script.hideosd
	url = https://github.com/Kevwag-Kodi-Addons/script.hideosd
	branch = master
[submodule "repo/script.module.metahandler"]
	path = repo/script.module.metahandler
	url = https://github.com/Kevwag-Kodi-Addons/script.module.metahandler
	branch = master
[submodule "repo/dis90.github.io"]
	path = repo/dis90.github.io
	url = https://github.com/dis90/dis90.github.io
	branch = matrix
